<div class="header-pad"></div>
<div class="about-containter">
    <div class="about-info">
        <div class="about-pictures">
            <img src="assets/images/Duomo-cleaned.jpg">
            <img src="assets/images/Duomo-cleaned.jpg">
            <img src="assets/images/Duomo-cleaned.jpg">
            <img src="assets/images/Duomo-cleaned.jpg">
        </div>
        <div class="about-heading">
            <h1>Hi, I'm Gaurav!</h1>
        </div>
        <div class="about-description">
            <div class = "about-text">
                <p>I am a recent graduate from UNC Chapel Hill with degrees in Computer Science and Economics, 
                    as well as a Neuroscience Minor.</p>
                <p>To me, working with technology presents the opportunity to leverage my creativity to solve human-centric problems.
                    I remember attempting to program lego robots to do my chores in elementary school, and the feeling of wonder that arose
                    from realizing the endless potential of technology to make our lives easier. I have been chasing this feeling since, 
                    and I now strive to apply my skills in building a better, more sustainable, and user-friendly world. With a strong 
                    technical foundation in fullstack development and data science, I am always looking for the next opportunity to 
                    contribute my skills, grow my knowledge, and build robust software solutions.</p>
                <p>Outside of my professional interests, I find joy in exploring the outdoors by hiking, kayaking, and going on long,
                    introspective walks. I've recently rekindled an interest in reading, and I love watching and talking about movies.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="journey-container">
    <div class="journey-info">
        <div class="journey-heading">
            <h1>My Journey</h1>
        </div>


    </div>

</div>