<div class="homepage-container">
    <div class="intro-box">
        <div class="intro-title" [ngStyle]="{'--char-count': characterCount}">
            <h1 class="name">Hi, I'm Gaurav! Welcome to my website!</h1>
        </div>
    </div>

    <div class="about-box">
        <div class="about-heading">
            <h2>About Me</h2>
        </div>
        <div class="about-description">
            <div class="about-picture">
                <img src="assets/images/profile-pic.jpg" alt="Profile Pic">
            </div>
            <div class = "about-text">
                <p>Hey! I'm Gaurav Rao, a recent graduate from UNC Chapel Hill with degrees in Computer Science and Economics, 
                    as well as a Neuroscience Minor.</p>
                <p>To me, working with technology presents the opportunity to leverage my creativity to solve human-centric problems.
                    I remember attempting to program lego robots to do my chores in elementary school, and the feeling of wonder that arose
                    from realizing the endless potential of technology to make our lives easier. I have been chasing this feeling since, 
                    and I now strive to apply my skills in building a better, more sustainable, and user-friendly world. With a strong 
                    technical foundation in fullstack development and data science, I am always looking for the next opportunity to 
                    contribute my skills, grow my knowledge, and build robust software solutions.</p>
                <div class="about-buttons"> 
                    <button class="about-me-button" routerLink="/about"> More About Me </button>
                    <button class="about-resume-button"> My Resume </button>
                    <a href="https://www.linkedin.com/in/gauravmrao/" target="_blank" class="about-linkedin-button">
                        <img src="assets/icons/linkedin-orange.png" alt="Linkedin Icon" 
                            onmouseover="this.src='assets/icons/linkedin-light-orange.png'" 
                            onmouseout="this.src='assets/icons/linkedin-orange.png'">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="projects-box">
        <div class="projects-heading">
            <h2>Projects</h2>
            <p>A few of my selected projects. I work primarily with web development and python, both of which allow me to explore new skills.</p>
            <a class="projects-link" routerLink="/work">See more of my projects &rarr;</a>
            
        </div>
        <div class="projects-cards">

            <mat-card class="project1">
                <mat-card-header>
                    <mat-card-title class="project-title">Sketch.UI</mat-card-title>
                    <mat-card-subtitle class="project-technologies">React, Javascript, HTML, Python</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="project-content">
                    <p>
                        An AI application to convert human text input & hand-drawn UI sketches into reusable HTML and CSS code.
                    </p>
                </mat-card-content>
                <mat-card-actions class="project-button-containter">
                    <a href="https://github.com/largeweb/ai-website-builder/tree/main" target="_blank">
                        <button class="project-button" mat-button>View Project on Github</button>
                    </a>
                </mat-card-actions>
            </mat-card>

            <mat-card class="project2">
                <mat-card-header>
                    <mat-card-title class="project-title">Virtual Whiteboarding</mat-card-title>
                    <mat-card-subtitle class="project-technologies">ML, Python, OpenCV, MediaPipe</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="project-content">
                    <p>
                        An ML-driven Computer Vision application to enable on-screen live drawing using intuitive hand motions.
                    </p>
                </mat-card-content>
                <mat-card-actions class="project-button-containter">
                    <a href="https://github.com/Gauravmrao/virtual-whiteboarding" target="_blank">
                        <button class="project-button" mat-button>View Project on Github</button>
                    </a>
                </mat-card-actions>
            </mat-card>


            <mat-card class="project3">
                <mat-card-header>
                    <mat-card-title class="project-title">AI Tic-Tac-Toe</mat-card-title>
                    <mat-card-subtitle class="project-technologies">Python, AI</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="project-content">
                    <p>
                        A playable Tic Tac Toe game with an AI opponent that uses the Minimax algorithm to determine optimal moves.
                    </p>
                </mat-card-content>
                <mat-card-actions class="project-button-containter">
                    <a href="https://github.com/Gauravmrao/AI-bot-tictacoe" target="_blank">
                        <button class="project-button" mat-button>View Project on Github</button>
                    </a>
                </mat-card-actions>
            </mat-card>
        </div>
        
    </div>

    <div class="experience-box">
        <h2 class="experience-heading">Experience</h2>
        
        <div class="experience-item">
            <h4 class="job-title">Technical Support Engineer</h4>
            <h6>CData Software | November 2024 - Present</h6>
            <ul>
                <li> 
                    Diagnosed and resolved complex data integration issues across 250+ connectivity products by replicating customer environments, debugging with tools like SQL, Python, Java, and Postman, and collaborating with engineering teams to deliver responsive, high-quality technical support.
                </li>
            </ul>
            <div class="padder"></div>
        </div>
        
        <div class="experience-item">
            <h4 class="job-title">Technical Support Engineer</h4>
            <h6>CData Software | November 2024 - Present</h6>
            <ul>
                <li> 
                    Debugged & troubleshot data connectivity issues across 250+ integration products using Python, SQL, Java/JDBC, ODBC, and C#/ADO.NET.
                </li>
                <li>
                    Developed and optimized complex SQL queries to test ETL data pipelines with popular enterprise platforms, ensuring consistency across SQL Server workflows, APIs, & authentication protocols.
                </li>
                <li>
                    Led client meetings, replicated customer use cases, set up Postman and Fiddler flows, & investigated log files.
                </li>
            </ul>
            <div class="padder"></div>
        </div>



        
        
    </div>


</div>