.homepage-container {
    font-family: Arial, sans-serif;
}
  
.intro-box{
    text-align: center;
    height: 100vh;    /* Full viewport height */
    display: flex;    /* Enable flexbox on the container */
}
.intro-title{
    flex: 1;              /* Each div will take up an equal share of the available space (50% each) */
    display: flex;        /* Optional: centers the content inside the div */
    justify-content: center;
    align-items: center;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #1c1c1c;
    color: #fefbf4;
    width: calc(var(--char-count) * 1ch); /* Width based on character count */
}
.name{
    white-space: nowrap;    /* Prevents the text from wrapping */
    overflow: hidden;       /* Ensures hidden part is not shown */
    border-right: 2px solid #fefbf4;  /* Creates the "cursor" effect */
    animation: typing 3s steps(var(--char-count), end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
    from { 
        width: 0;                   /* Start with 0 width (hidden text) */
        visibility: visible;        /* Ensure text is visible as it's typed */
    }          
    to { width: calc(var(--char-count) * 1ch); white-space: nowrap;}         /* End with full width (revealed text) */
}
@keyframes blink-caret {
    from, to { border-color: transparent; } /* Cursor invisible */
    50% { border-color: #fefbf4; }            /* Cursor visible */
}

.about-box{
    margin-top: 10px;
    background-color: #fefbf4;
    display: flex;
    align-items: flex-start;          /* Vertically align the image and description */
    justify-content: flex-start;  /* Align items to the start (left) */
    width: 100%;                  /* Container takes full width */
    flex-direction: column;
}
.about-heading{
    font-style: bold;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 40px;
}
.about-description{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.about-picture img{
    width: 250px;                 /* Set the image width */
    height: auto;                 /* Maintain aspect ratio */
    margin-left: 100px;
}
.about-text{
    flex: 1;                      /* Make the description take up remaining space */
    font-size: 20px;
    margin-left: 40px;
    margin-right: 100px;
}
.about-buttons{
    margin-top: 35px;
    display: flex;
    justify-content: flex-start;
}
.about-me-button, .about-resume-button {
    margin-right: 30px;
}
.about-linkedin-button{
    background-color: transparent;
    border: transparent;
}
.about-linkedin-button img{
    height: 50px;  /* Set the desired height */
    width: auto;  /* Keeps the aspect ratio */
    cursor: pointer;

}

.projects-box{
    background-color: #E15C3B;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* Align items to the start (left) */
    width: 100%;                  /* Container takes full width */
}
.projects-heading{
    color: #fefbf4;
    background-color: inherit;
    font-style: bold;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 40px;
}
.projects-link{
    color: inherit;
    text-decoration: none;
    font-weight: 650;
}
.projects-link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.projects-cards{
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-bottom: 40px;
    font-style: normal;
}
mat-card {
    max-width: 420px;
    margin: 20px;
    background-color: #fefbf4;
    border: 4px solid #1c1c1c; /* Set the border width and color */
    border-radius: 8px; /* Optional: Set border radius */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
}
mat-card:hover{
    transform: translateY(-7px); /* Move the card up slightly */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Add shadow to create a popping effect */
}
.project-title{
    font-family: "DM Serif Display", serif; 
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}
.project-technologies{
    font-size: 14px;
    margin-top: 10px;
    font-style: italic;
}
.project-content{
    font-size: 1.75rem;
}
.project-button-containter{
    margin-top: 20px;
    display: grid; /* Use grid layout */
    place-items: center; /* Center both horizontally and vertically */
}

.experience-box{
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* Align items to the start (left) */
    width: 100%;                  /* Container takes full width */
}
.experience-heading{
    color: #fefbf4;
    background-color: inherit;
    font-style: bold;
    margin-left: 100px;
}
.experience-item{
    color: #fefbf4;
    background-color: inherit;
    margin-left: 100px;
    font-size: 20px;
}
.experience-item h4 {
    text-decoration: underline;
    margin: 0;
    padding: 0;
}
.experience-item h6 {
    font-style: italic;
    margin: 0;
    padding: 0;
}
.experience-item li {
    padding: 2px;
}
.padder{ 
    margin-bottom: 50px;
}













