.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1c1c1c;
    color: #fefbf4;;
    padding: 10px;
    z-index: 1000; /* Ensures it stays above other elements */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: bold;
  }
  .header h3 {
    margin: 0;
    margin-left: 50px;
  }
  .header nav a {
    font-size: 1.7rem;
    color: white;
    margin-right: 30px;
    text-decoration: none;
  }
  .header nav a:hover {
    text-decoration: underline;
    color: #E15C3B;
    cursor: pointer;
  }