<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">
</head>
<div class="header-pad"></div>
<div class="work-landing">
    <div class="work-landing-titles">
        <p class="work-title">To be immortal is commonplace; except for man, all creatures are immortal, for they are ignorant of death.</p>
        <p class="work-subtitle">From Jorge Luis Borges.</p>
    </div>
    <div class="work-landing-image">
        <img src="assets/images/Duomo-cleaned.jpg" class="work-titlepic">
    </div>
</div>
<div class="work-intro">
    <p>I love to work and I love to work hard. Find below a summary of my work experience, selected personal projects, and the skills I
        have built over the years.</p>
</div>
<div class="work-experience">
    <div class="work-experience-title">
        <h1>Experience</h1>
    </div>

</div>
