
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap'); // DM Serif Display
@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$my-website-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($my-website-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($my-website-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($my-website-theme);
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; font-size: 10px;}

body { 
  margin: 0; 
  
  font-family: "Radley", serif;
  font-weight: 400;
  font-style: normal;

  font-optical-sizing: auto;

  font-variation-settings:
    "wdth" 100;
  }

h1, h2, h3, h4, h5, h6 { 
  font-family: "DM Serif Display", serif; 
  font-weight: 400; 
  font-style: normal;
}

h1 { font-size: 6rem; }
h2 { font-size: 5rem; }
h3 { font-size: 4rem; }
h4 { font-size: 3rem; }
h5 { font-size: 2rem; }


p, a ul, li { 
  font-family: "Georama", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

div{
  background-color: #fefbf4;
  color: #1c1c1c;
}

button{
  background-color: #E15C3B;
  color: #fefbf4;
  font-family: "DM Serif Display", serif; 
  font-size: 1.5rem;
  font-weight: 400;
  font-style: bold;
  margin-bottom: 20px;
  padding: 1px 20px;                   /* Adjusts the top/bottom and left/right padding */
  border-radius: 10px;                /* Optional: Add rounded corners */
  cursor: pointer;                   /* Make it look clickable */
  height: 50px;
}
button:hover {
  background-color: #F98568;
}